*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background: #020408;
  color: #e0f4ff;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
